.navbar{
	background: #fff!important;
}
.navbar-brand{
	padding: 0px 50px 0 0!important;
}
footer{
	background: #000;
	color: #fff;
	width: 100%
}
footer a{
	color: #fff;
	text-decoration: none;
}
.slick-slide img {
	    display: inline-block!important;
	}
	.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -25px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.produk_title {
    position: relative;
    margin-bottom: 20px;
}
.produk_title-header {
    font-family: Raleway,sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    background-color: #FFF;
    padding: 0 10px;
    font-size: 20px;
    display: table;
    color: #231F20;
    margin: 0 auto;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}
.produk_title:after {
    background-color: #BF0561;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 6px);
    margin-top: 2px;
    height: 1px;
    content: "";
}
.media-similar{
	border: 1px solid #ccc!important;
	padding: 10px;
	width : 300px;
	margin: 5px;
}
.review{
	border: 1px solid #ccc!important;
}
@media (max-width: 768px){
	.breadcrumb {
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 0.5rem 1rem;
	    margin-bottom: 1rem;
	    list-style: none;
	    border-radius: .25rem;
	    background: none;
	}
	.breadcrumb-item+.breadcrumb-item::before {
	    float: left;
	    padding-right: .5rem;
	    color: #adb5bd;
	    content: ">";
	}
	.breadcrumb a {
	    color: #adb5bd;
	    text-decoration: none;
	    background-color: transparent;
	}
	.breadcrumb-item.active {
	    color: #bd2130;
	}
	.produk-box{
		width: 100%;
    	text-align: center;
    	border: 1px solid #ccc;
    	padding: 30px
	}
	
}